.item-card {
    height: 20rem;
    width: 20rem;
    background-color: gray;
    margin: 4rem;
    margin-bottom: 5rem;
}

.category-name {
    font-size: 35px;
    color: #696f07;
}

.num-icon {
    border: 1px gray solid;
    margin: 0.5rem;
    padding: 0.25rem;
}

.title {
    color: #942621 !important;
}

.cat-text {
    color: #DF147A !important;
}

.total-amount {
    width: 10rem;
}

.item-name {
    font-size: 15px;
    color: #696f07;
    // width: 20rem;
}

.per {
    font-size: 15px;
}

.total-text {
    color: #942621 !important;
    margin-right: 1rem;
    font-size: 1.5rem;

}

.sl-no {
    width: 1rem;
}

